<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a new Cocktail", cocktails_new_path, class: 'btn btn-primary' %>
