// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "card";
@import "banner";

.wrapper {
  background-image: image-url('bg_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 30px;
  height: 100vh;
}
.container {
  margin-top: 30px;
  background:rgba(255,255,255, 0.9);
  padding-top: 20px;
  border-radius: 2px;
}
